<!-- temp modal html -->
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">What do you fancy today?</h1>

    <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
  </ion-header-bar>
  <ion-content>
      

   <ng-form>

    <div class="list">

      <div class="item item-divider">
      </div>

      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Tags..." ng-model="query.tags">
      </label>


      <div class="item item-divider">
        Duration {{query.duration/60/60}} Hours
      </div>

      <div class="range">
        
        <input type="range" name="duration" ng-model="query.duration" min=0 value=18000 max=36000 step=900>
        <i class="icon ion-clock"></i>
      </div>

      <div class="item item-divider">
        Fancies
      </div>

      <ul>

        <li class="item item-icon-left item-toggle">
          <i class="icon ion-pizza"></i>
           Food
           <label class="toggle">
             <input type="checkbox" ng-model="query.food">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>

        <li class="item item-icon-left item-toggle">
          <i class="icon ion-beer"></i>
           Drinks
           <label class="toggle">
             <input type="checkbox" ng-model="query.drinks">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>

        <li class="item item-icon-left item-toggle">
          <i class="icon ion-ios7-paw"></i>
           Activities
           <label class="toggle">
             <input type="checkbox" ng-model="query.activities">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>

        <li class="item item-icon-left item-toggle">
          <i class="icon ion-image"></i>
           Sights
           <label class="toggle">
             <input type="checkbox" ng-model="query.sights">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>

      </ul>

      <button class="button button-block button-large button-positive" ng-click="buildQuery()">
        Filter Jaunts
      </button>

      <button class="button button-block button-large button-positive" ng-click="clearFilter()">
        Clear Filter
      </button>

    </ng-form>
         



    </div>
  </ion-content>
</ion-modal-view>