<ion-view class="background">

  <ion-content>
  
  <div class="home">
    <img class="logo" src="img/jaunt-header-square.png">
    <div class="homeButtons">
      <button class="button button-large button-block button-balanced">
        Jaunt FROM...
      </button>
      <button class="button button-large button-block button-balanced">
        Jaunt TO...
      </button>
      <button class="button button-large button-block button-balanced">
        Explore Jaunts
      </button>
    </div>
  </div>
  
  </ion-content>

</ion-view>

