<!--
  This template loads for the 'tab.jaunt-detail' state (app.js)
  'jaunt' is a $scope variable created in the JauntsCtrl controller (controllers.js)
  The JauntsCtrl pulls data from the Jaunts service (service.js)
  The Jaunts service returns an array of jaunt data
-->

<ion-view view-title="{{jaunt.meta.title}}">
  <!-- map view -->
  <ion-nav-buttons side="secondary">
    <a href="#/tab/map"><button class="button button-icon icon ion-ios7-location"> Map</button></a>
  </ion-nav-buttons>

  <ion-content>
    <div class="list card">

      <div class="item row">

        <div class="col">
          <h2>{{jaunt.meta.title}}</h2>
          <p>
            <img src="/img/{{jaunt.meta.rating | number:0}}.png" style="width: 75px;">
            <small>via {{jaunt.meta.votes}} votes</small>
          </p>
        </div>

        <div class="col col-20 col-center">
          <span class="ion-clock">
            {{jaunt.duration.text}}
          </span>
        </div>
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="{{jaunt.stops[0].photoUrl || '/img/jaunt-logo.png'}}">
        <p>
          Fancy: 
          <span ng-repeat="tag in jaunt.meta.tags">
            {{tag}},
          </span>
           fun stuff
        </p>
      </div>

      <div class="list">
        <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="stop in jaunt.stops" type="item-text-wrap" href="#/tab/jaunts/{{jaunt._id}}/{{stop._id}}">
            <img ng-src="{{stop.image || '/img/jaunt-logo.png'}}">
            <h2>{{stop.name}}</h2>
            <p>{{stop.description}}</p>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
        </ion-list>
      </div>

    </div>
    
  </ion-content>

</ion-view>
