<!-- Search is the first page a user is directed to upon opening the app.  It contains three links (from, to, and explore) which all lead to the tab-map.html.  The type of jaunts displayed will ultimately depend upon the user's link selection. -->

<ion-view view-title="Search">
  <ion-content>
    <h1>What do you fancy?</h1>
    <ion-list>
      <ion-item class="item-avatar" type="item-text-wrap" href="#/tab/map">
        <h2>From</h2>
      </ion-item>
      <ion-item class="item-avatar" type="item-text-wrap" href="#/tab/map">
        <h2>To</h2>
      </ion-item>
      <ion-item class="item-avatar" type="item-text-wrap" href="#/tab/map">
        <h2>Explore</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
