<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Map Tab -->
  <ion-tab title="Map" icon-off="ion-ios7-location-outline" icon-on="ion-ios7-location" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Jaunts Tab -->
  <ion-tab title="Jaunts" icon-off="ion-ios7-bolt-outline" icon-on="ion-ios7-bolt" href="#/tab/jaunts">
    <ion-nav-view name="tab-jaunts"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
