body {
  margin: 0;
  padding: 0px 20px;
  margin-top: 10px;
  font-family: arial, sans-serif;
}
img.logo {
  display: inline;
  float: left;
}
a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}
div.header {
  position: relative;
  height: 120px;
  color: #0084FF;
}

div.header h1 {
  font-style: italic;
  margin-bottom: 10px;
  top:50px;
  position: relative;
}

.navigation {
  width: 100%;
  height: 40px;
  background-color: #eee;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
}

.navigation .logout {
  float: right;
}

.navigation li a , .logout {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  background-color: #ddd;
}

.navigation li a.selected {
  background-color: #ccc;
}

#container {
  clear: both;
  margin-top: 10px;
}

.link {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
}

.link:hover {
  background-color: #efe;
}

.link img {
  float: left;
  margin: 0 5px;
}

.link .visits {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.link .visits .count {
  font-size: 46px;
  font-weight: 600;
}

.link .title {
  font-weight: 600;
}

.link .original {
  color: #aaa;
  font-size: 12px;
}

.link .info {
  margin-left: 55px;
}

form {
  margin: 10px;
}

form input[type=text], form input[type=password], form input[type=url], input[type=text] {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

.error {
  background-color: #fee;
  color: #a33;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  height: 50px;
}

.creator form {
  float: left;
  height: 80px;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
}

.creator .message {
  clear: both;
}
input.ng-invalid {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid green;
}
