#map {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.scroll {
  height: 100%;
}

#center {
  background-image: url("../img/paw.png");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 70px;
  right: 70px;
  min-height: 100px;
  min-width: 100px;
  transform: translate(50px, 50px);
  -webkit-transform: translate(50px, 50px);
  -ms-transform: translate(50px, 50px);
  z-index: 10;
}

.infoW {
  width: 200px;
}
.infoW a {
  text-decoration: none;
}
.infoW a:link {
  color: #000000;
}
.infoW a:visited {
 color: #000000; 
}
.infoW .title {
  border-bottom: 2px solid #f8f8f8;
  padding-bottom: 2.5px;
  margin-bottom: 2.5px;
}
.infoW .rating {
  width: 75px;
}